<!DOCTYPE html>
<html>
<head>
  <title>Groups</title>
</head>
<body>
  <h1>Alle grupper</h1>

  <ul>
    <% groups.forEach(group => { %>
      <li><%= group.name %> <%= group.description%> <%= group.location%> <%= group.department%></li>
      
    <% }) %>
  </ul>

</body>
</html>